<!DOCTYPE html>

<head>
    <title>IWIMBDSL</title>
    <link rel="stylesheet" type="text/css" media="all" href="/static/BDD/CSS/style.css" />
 </head>

<p class="Logo">
			<img src="/static/BDD/CSS/images/Logo.png" alt="Logo" no-repeat top left />
</p>

<nav>
<ul>
<li><a href="/administration">Accueil</a></li>
<li><a href="/watch/0/0">Personnes</a></li>
<li><a href="/watch/1/0">Groupes</a></li>
<li><a href="/watch/3/0">Modules</a></li>
<li><a href="/watch/4/0">Calendrier</a></li>
<li><a href="/watch/5/0">Salles</a></li>
<li><a href="/watch/6/0">Notes</a></li>
<li><a href="/watch/7/0">Cours</a></li>
<li><a href="/deconnexion">Deco</a></li>
</ul>
</nav>	


<aside>
	<h2>
		{{user.last_name}}<br/>
		{{user.first_name}}<br/><br/>
		{{timenow}}
	</h2>
	
	{% block aside %}
	{% endblock %}
	

	
</aside>	


<br>

<body>
{% block body %}
{% endblock %}
</body>

{% block navigation %}
{% endblock %}