
{% load watchTag %}	
{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width" />


<title>IWIMBDSL</title>

<link href="/static/BDD/deux/style3.css" type="text/css" media="all" title="Design" rel="stylesheet" /> 

<link rel="stylesheet" href="/static/BDD/deux/jquery.mCustomScrollbar.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/BDD/deux/jquery.mCustomScrollbar.concat.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/static/BDD/deux/style2.css" />
     <link rel="stylesheet" type="text/css" media="all" href="/static/BDD/deux/style.css" />
    <link href="/static/BDD/deux/cssmulti.css" rel="stylesheet" type="text/css">
    <link href="/static/BDD/deux/boilerplate.css" rel="stylesheet" type="text/css">
    <link href="/static/BDD/deux/cssplus.css" rel="stylesheet" type="text/css">
    <script src="/static/BDD/deux/respond.min.js"></script>
<link href="/static/ajax_select/css/ajax_select.css" type="text/css" media="all" rel="stylesheet" />

<script src="/static/BDD/js/jquery.min.js"></script>
<script src="/static/BDD/js/jquery-ui.js"></script>
<link rel="stylesheet"  href="/static/BDD/CSS/jquery-ui.css" type="text/css" media="all">
<!-- Custom styles for this template -->
<script type="text/javascript" src="/static/ajax_select/js/ajax_select.js"></script>

</head>
<body>
<div class="gridContainer clearfix">
  <div id="LayoutDiv1">
  <div class="toggle" style="border-radius: 5px;  background-image: url(3.png);background-repeat: repeat;">
 <nav>
<label for="drop" class="toggle">Menu</label>
  <input type="checkbox" id="drop" />
  <ul class="menu2">
    <li><a href="#">Accueil</a></li>
    <li> 
      <!-- First Tier Drop Down -->
      <label for="drop-1" class="toggle">Base de donnée</label>
      <a href="#">Service</a>
      <input type="checkbox" id="drop-1"/>
      <ul>
       <li><a href="/watch/{{ table }}/{{ filtre }}/{{ page }}/{{ nbparpage }}/{{ nomClasser }}/{{ plusOuMoins }}">Retour</a></li>
<li><a href="/administration">Accueil</a></li>
      </ul>
    </li>
    <li><a href="#">Deco</a></li>
    
  </ul>
</nav>
  
  </div>
 
  <div style="margin: 0px -40px;">
<ul class="menu">
<li><a href="/watch/{{ table }}/{{ filtre }}/{{ page }}/{{ nbparpage }}/{{ nomClasser }}/{{ plusOuMoins }}">Retour</a></li>
<li><a href="/administration">Accueil</a></li>
       
    </ul></div></div>
  <div id="LayoutDiv2"><img class="logoEnsta" src="/static/BDD/deux/Logo.png" alt="logoensta" align="right" style="margin:18px 0px; width:130px"></div>
 
 <div id="LayoutDiv3" >

<form class="form-style-1" action="/change/{{ table }}/{{ idP }}/0/{{ filtre }}/{{ page }}/{{ nbparpage }}/{{ nomClasser }}/{{ plusOuMoins }}" method="post">
	{% csrf_token %}
	{{ form}}
	<input type="submit" value="Change"/>
</form>
{% if changed %}
	<br><br>changed
{% endif %}
<hr>


{% for dd in titrest %}

		
		
		<tr>
			<td>
				
				
				<form class="form-style-1" action="/change/{{ table }}/{{ idP }}/{{ dd.0.2 }}/{{ filtre }}/{{ page }}/{{ nbparpage }}/{{ nomClasser }}/{{ plusOuMoins }}" method="post">
				{% csrf_token %}
				<table>
				
					
						{{ dd.0.0 }}
					
				
				</table><br>
					
					<input type="submit" value="Modifier"/>
				</form>
				


			</td>
		</tr>

{% endfor %}
</div>
</body>
</html>		
