<link href="/static/BDD/CSS/style2.css" type="text/css" media="all" title="Design" rel="stylesheet" />
<html>
<head>
<title>Helato</title>
</head>

<nav>
<ul>
<li><a href="/watch/{{ table }}/{{ filtre }}/{{ page }}/{{ nbparpage }}/{{ nomClasser }}/{{ plusOuMoins }}">Retour</a></li>
<li><a href="/administration">Accueil</a></li>
</ul>
</nav>

<body>
<p>
{% if not supr %}
</br></br>
Voulez-vous vraiment supprimer {{ p.user.last_name }} {{ p.user.first_name }} ?</br></br>

<a href="/delete/{{ table }}/{{ idP }}/{{ filtre }}/{{ page }}/{{ nbparpage }}/{{ nomClasser }}/{{ plusOuMoins }}/1"><img src="/static/BDD/CSS/images/Bouton_oui.png"></a> <a href="/watch/{{ table }}/{{ filtre }}/{{ page }}/{{ nbparpage }}/{{ nomClasser }}/{{ plusOuMoins }}"><img src="/static/BDD/CSS/images/Bouton_non.png"></a>
{% else %}
</br>
Opération effectuée avec succès
{% endif %}
</p>
</body>
</html>